@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.page-containerW {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-containerW {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  
}

.titulo {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.7rem;
  font-weight: 400;
  width: 700px;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.linea {
    border-bottom: 2px solid black;
    margin-left: 100px;
    margin-right: 100px;
}

@media (max-width: 900px) {
  .titulo {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
  }

  .linea {
    margin-left: 30px;
    margin-right: 30px;
  }
}