@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 2rem;
  width: 1200px;
  margin: auto;
  padding: 2rem;
  position: relative;
  margin-bottom: 2rem;
  max-height: 1300px;
}

.cardMetrics {
  background-color: #ffffff;
  color: black;
  padding: 2rem;
  border-radius: 20px;
  text-align: start;
  position: relative;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-size: 1.7rem;
  font-weight: 500;
  min-height: 200px;
  display: flex;
  align-items: center;
}

.cardMetrics::after {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: 20px;
  background: linear-gradient(
    -145.587deg,
    #e4598f 0%,
    #a773a8 14%,
    #549ece 30%,
    #06c7f1 48%,
    #30df99 65%,
    #56ee58 82%,
    #e9e531 100%
  );
  z-index: -1;
}

.card-connector-metrics1 {
  content: "";
  position: absolute;
  top: 13%;
  left: 35%;
  width: 59vw;
  height: 6px;
  background: linear-gradient(to right, #30df99, #e9e531);
  z-index: -1;
}

.card-connector-metrics2 {
  content: "";
  position: absolute;
  top: 38.5%;
  left: 258px;
  width: 400px;
  height: 6px;
  background: linear-gradient(to right, #21d7b7, #21d7b7);
  z-index: -2;
}

.card-connector-metrics3 {
  content: "";
  position: absolute;
  top: 65%;
  left: 467px;
  width: 420px;
  height: 6px;
  background: linear-gradient(to right, #06c7f1, #a773a8);
  z-index: -1;
}

.card-connector-metrics4 {
  content: "";
  position: absolute;
  top: 86.8%;
  left: 258px;
  width: 400px;
  height: 6px;
  background: linear-gradient(to right, #06c7f1, #549ece);
  z-index: -2;
}

.card-connector-metrics5 {
  content: "";
  position: absolute;
  top: 86.8%;
  left: 35%;
  width: 59vw;
  height: 6px;
  background: linear-gradient(to right, #a773a8, #a773a8);
  z-index: -3;
}

.card-connector-metrics1-bottom {
  content: "";
  position: absolute;
  top: 119px;
  right: 78%;
  width: 6px;
  height: 374px;
  background: linear-gradient(to right, #21d7b7, #21d7b7);
  z-index: -2;
}

.card-connector-metrics1-bottom2 {
  content: "";
  position: absolute;
  top: 50%;
  right: 26%;
  width: 6px;
  height: 196px;
  background: linear-gradient(to bottom, #a773a8, #a773a8);
  z-index: -2;
}

.card-connector-metrics1-bottom3 {
  content: "";
  position: absolute;
  top: 73%;
  right: 78%;
  width: 6px;
  height: 175px;
  background: linear-gradient(to bottom, #06c7f1, #06c7f1);
  z-index: -2;
}

.grid-item-1 {
  grid-column: 1;
  grid-row: 1;
  width: 480px;
}

.grid-item-2 {
  grid-column: 2;
  grid-row: 2;
  margin-left: 5%;
  width: 480px;
}

.grid-item-3 {
  grid-column: 1;
  grid-row: 3;
  margin-top: 2rem;
  width: 480px;
}

.grid-item-4 {
  grid-column: 2;
  grid-row: 4;
  width: 480px;
}

@media (max-width: 1270px) {
  .metrics {
    display: none;
  }
}
